<h1>EDIT</h1>
<!--CHARITY NAME-->
<div>
<form method="POST" action="/posts/{{post._id}}?_method=PUT">
  <div class="form-group">
    <label for="charityName">Charity Name</label>
    <input type="text" class="form-control" id="charityName" name="charityName" value="{{post.charityName}}" disabled>
    <input type="hidden" class="form-control" id="charityName" name="charityName" value="{{post.charityName}}">

  </div>

  <!--NAME-->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>

<!--AMOUNT GIVEN-->
  <div class="form-group">
      <label for="amountGiven">Amount Given</label>
    <input type="text" class="form-control" id="amountGiven" name="amountGiven" value="{{post.amountGiven}}" disabled>
    <input type="hidden" class="form-control" id="amountGiven" name="amountGiven" value="{{post.amountGiven}}">
  </div>

<!--DESCRIPTION-->
  <div class="form-group">
    <label for="description">What did you pick this charity?</label>
    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
  </div>

<!--SUBMIT BUTTON-->
  <div>
        <button type="submit" class="btn btn-primary">Save</button>
  </div>
</div>

</form>